.App {
  text-align: center;
  width: 550px;
  background-color: grey;
}

nav{
  background: #F55A5A;
  width: 550px;
height: 55px;
left: 0px;
top: 0px;

}

.nav-p{
  width: 109px;
height: 16px;
left: 244px;
top: 20px;
padding: auto;
margin: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14.4608px;
line-height: 18px;
letter-spacing: -0.075em;
color: #FFFFFF;

}

.location{
  width: 470px;
  margin: 40px 55px 40px 0 ;
  
}

.photo{
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

